{% extends "core/base.html" %}
{% block content %}
      <div class="jumbotron">
        <h1>Kontakt</h1>
      </div>

      <div class="row marketing">
        <div class="col">
            <h3><i style="padding-right: 20px" class="bi bi-telephone-fill"></i> 0903 616 441</h3>
              <h3><i style="padding-right: 20px" class="bi bi-house-fill"></i> Borodáčova 4, 821 03 Bratislava</h3>
            <h3><i style="padding-right: 20px" class="bi bi-envelope-fill"></i> lavita@lavita.sk</h3>
            <h3><i style="padding-right: 20px" class="bi bi-clock-history"></i> Otvorené denne 11:00 – 22:00 (kuchyňa do 21:30)</h3>
          </div>
      </div>
  {% endblock %}