{% extends "core/base.html" %}

{% block content %}
      <div class="jumbotron" style="margin-top: 20px">
        <h1>Vitajte</h1>
        <p class="lead">Objednávajte každý deň od 11:00 do 21:30. Pre osobný odber využite telefónne číslo 0903 616 441 alebo pre rozvoz využite jednu z možností:</p>
        <p><a class="btn btn-lg btn-success" href="https://wolt.com/sk/svk/bratislava/restaurant/la-vita" target="_blank" role="button">Wolt</a></p>
          <p><a class="btn btn-lg btn-success" href="https://bistro.sk/la-vita-ristorante/" target="_blank" role="button">Bistro</a></p>
      </div>
{% endblock %}