{% extends "core/base.html" %}
{% block content %}
<div class="row lg-5" style="position: relative">
    <div class="col-lg-2 col-md-2 categories" >
      <div class="categories">
        {% for food_category, food_category_name in food_categories %}
          <a href="#{{ food_category }}"><span class="badge rounded-pill bg-secondary">{{ food_category_name }}</span></a>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-10 col-md-10">
            {% for food_category, food_category_name in food_categories %}
                {% if food_category in foods %}
                    <div id="{{ food_category }}">
                        <h2>{{ food_category_name }}</h2>
                {% for food in foods|get_item:food_category %}
                    {% include 'core/menu_item.html' with food=food%}
                {% endfor %}
                    </div>
                {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}